<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>917056923195-504t4s1es6i0r2g88eo6dmefo7ms3ika.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917056923195-504t4s1es6i0r2g88eo6dmefo7ms3ika</string>
	<key>API_KEY</key>
	<string>AIzaSyB8yA7dp-ztvVwRMWVAXz_ODnJKMMbjx_4</string>
	<key>GCM_SENDER_ID</key>
	<string>917056923195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterPoetry</string>
	<key>PROJECT_ID</key>
	<string>fcmflutterpoetry-95547</string>
	<key>STORAGE_BUCKET</key>
	<string>fcmflutterpoetry-95547.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917056923195:ios:6357fcfaefdcd48749de1e</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
    <string>describe why your app needs access to write photo library</string>
</dict>
</plist>